.image{
    padding: 50px;
}
.image{
    position: relative;
}
img{
    position: absolute ;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transform-origin: bottom right;}
/* object-fit: cover; */
/* cat hinh theo kich thuoc */

div.image:hover img.cat1{
    transform:rotate(20deg)
}
div.image:hover img.cat2{
    transform:rotate(40deg)
}
div.image:hover img.cat3{
    transform:rotate(60deg)
}

.image1{
    padding: 200px;
   /* display: none;  */
   
}
img{
    animation-name: fadeIn;
    animation-duration: 1s;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.radius{
    border-radius: 50%;
    background-color: #8d0f0f;
    width: 100px;
    height: 100px;
    animation: self-spin 1s infinite;
}
@keyframes self-spin {
    0%{
        transform: rotateY(0deg);
    }
    /* 50%{
        transform: rotateY(1800deg);
    } */
    100%{
        transform: rotateY(360deg);
    }
}