.image{
    padding: 50px;
}
.image{
    position: relative;
}
img{
    position: absolute ;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transform-origin: bottom right;}
/* object-fit: cover; */
/* cat hinh theo kich thuoc */

div.image:hover img.cat1{
    transform:rotate(20deg)
}
div.image:hover img.cat2{
    transform:rotate(40deg)
}
div.image:hover img.cat3{
    transform:rotate(60deg)
}